body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #304576, #001236);
  font-family: 'Montserrat';
}

.main {
  width: 100%;
  height: 100%;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  color: white;
}

.logo {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
}

.links {
  text-decoration: none;
  color: white;
}

.links:hover {
  color: white;
}

.nav-links {
  height: 100%;
  width: 30%;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1%;
}

.nav-links ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 700;
}

.nav-links li {
  list-style-type: none;
  cursor: pointer;
}

.sign-in-main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-container {
  width: 30%;
  height: 60%;
  border: 3px solid gray;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 1) 0px 19px 38px, rgba(0, 0, 0, 1) 0px 15px 12px;
}


.signin-signout-container {
  background-color: rgb(160, 173, 190);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 2rem;
}

.signout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 2rem;
  border-bottom: 2px solid black;

}

.navigation-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.form-section {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-section h2 {
  color: rgb(173, 171, 171);
}

.form-section div {
  width: 300px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  height: 35px;
  width: 80%;
  border: 2px solid blue;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  background-color: rgb(190, 188, 188);
}

.input-container:focus {
  border-color: red;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-configuration {
  width: 40%;
  height: 40px;
  background-color: rgb(46, 46, 68);
  color: rgb(173, 171, 171);
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.1s;
}

.button-configuration:hover {
  transform: translateY(-2px);
}

.button-configuration:active {
  transform: translateY(2px);
}


/*Survery container styles*/
.survey-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 60%;
  background-color: rgb(10, 10, 77);
  border-radius: 20px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.6) 0px 12px 12px;
}

.question-slides {
  width: 100%;
  height: 90%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
  color: white;
  margin-top: 40px;
  font-size: 25px;
}

.slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.options {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.gerne-input {
  margin-top: 20px;
  width: 100%;
}

.navigation-button {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navigation-button button {
  width: 100px;
  height: 30px;
  background-color: rgb(152, 119, 218);
  transition: transform 0.17s;
  border-width: 0px;
}

.navigation-button button:focus {
  border-color: black;
  outline-style: none;
}

.navigation-button button:hover {
  transform: translateY(-2px);
}

.navigation-button button:active {
  transform: translateY(2px);
}

.next-button {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
}

.prev-button {
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}

.artist,
.song {
  width: 80%;
  height: 30px;
}

.song {
  margin-top: 95px;
}

/* dash board*/

.dashboard {
  color: white;
}

.userDetails {
  width: 25px;
  height: 25px;
}

.dashboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.playlist {
  width: 80%;
  min-height: 250px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.playlistcard {
  width: 22%;
  height: 300px;
  background-color: #000103;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 19px 38px, rgba(0, 0, 0, 0.6) 0px 15px 12px;
  padding-bottom: 10px;
  padding-left: 5px;
  transition: 0.5s;
}

.playlistcard:hover {
  scale: 1.05;
}

.image-section {
  width: 100%;
  height: 38%;
}

.playlist-detail1,
.playlist-detail2,
.playlist-detail3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.playlist-detail1 {
  background-image: url('/public/picture1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.playlist-detail2 {
  background-image: url('/public/picture2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.playlist-detail3 {
  background-image: url('/public/picture3.png');
  background-repeat: no-repeat;
  background-size: cover;
}



.playlist-details button {
  background-color: rgba(3, 3, 128, 0.7);
  width: 70%;
}

.artist-popularity {
  margin-top: 4rem;
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.left-container {
  width: 45%;
  background-color: #000103;
  height: 60px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.right-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  background-color: #000103;
  height: 60px;
  border-radius: 2rem;
}

.inner-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0px;
}

.left-container,
.right-container p {
  letter-spacing: 2px;
  font-size: larger;
}

.premium-container {
  height: 500px;
  width: 75%;
  background-color: black;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 26px;
  margin-bottom: 20px;
}

.premium-heading {
  border-bottom: white solid 2px;
}

.tick-image {
  width: 20px;
  height: 20px;
}

.content-container {
  margin-top: 10px;
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content-container div {
  width: 50%;
  display: flex;

}

.content-container span {
  margin-left: 6px;
  font-size: larger;
}

/* Playlist */

.playlist-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.playlist-collection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.eachsong-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 50px;
  border-radius: 20px;
  background-color: white;
}